@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@font-face {
  font-family: SN;
  src: url("../assets/fonts/sn.ttf");
}

@font-face {
  font-family: Font;
  src: url("../assets/fonts/plex.ttf");
}

@font-face {
  font-family: Code;
  src: url("../assets/fonts/plex-mono.ttf");
}

@font-face {
  font-family: Code;
  src: url("../assets/fonts/plex-mono-medium.ttf");
}

@theme {
  --font-display: Font;
  --font-code:Code;
  --font-alternate:SN;
  --color-accent:#ff4d1c;
}

@utility toolbarToggle {
  @apply p-2.5 hover:bg-neutral-900/40 text-neutral-300 focus-visible:bg-none focus-visible:outline focus-visible:-outline-offset-1 focus-visible:outline-neutral-400 border border-solid border-neutral-900 border-l-transparent border-y-transparent active:bg-neutral-900;
}

body {
  @apply font-display bg-black text-neutral-200;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: none;
}

button {
  @apply items-center justify-center cursor-pointer appearance-none outline-none active:scale-[0.97];
}

.tabTrigger {
  @apply p-2.5 flex items-center justify-center gap-3 text-xs border border-solid border-neutral-900 border-t-transparent border-l-transparent border-b-transparent hover:bg-neutral-900/15;            
}
.tabTrigger[data-active] {
  @apply text-accent bg-accent/5 border border-solid border-accent/5 border-t-transparent border-b-transparent;;
}
.ctxMenuRowItem {
  @apply p-2.5 flex items-center justify-center border border-solid border-neutral-900 border-t-transparent border-l-transparent border-b-transparent hover:bg-neutral-900/30 cursor-pointer
}

.menuItem{
  @apply flex items-center justify-start gap-2 cursor-pointer py-2 pr-8 text-neutral-400 pl-4 text-[13px] leading-4 outline-hidden select-none data-highlighted:relative data-highlighted:z-0 data-highlighted:text-white data-highlighted:before:absolute data-highlighted:before:inset-x-1 data-highlighted:before:inset-y-0 data-highlighted:before:z-[-1] data-highlighted:before:bg-neutral-900 data-highlighted:before:content-[''] data-disabled:text-neutral-700;
}

.input{
  @apply bg-neutral-900 text-sm w-full outline-none px-2 py-1 placeholder:text-sm; 
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div {
  outline: none;
}

.root {
  isolation: isolate;
}

a {
  @apply dark:text-neutral-400;
}
