@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@font-face{
    font-family: Font;
    src: url("../assets/fonts/commit.ttf");
}

.radix-themes {
	--default-font-family: Font;
	--heading-font-family:Font;
	--code-font-family:Font;
	--strong-font-family:Font;
	--em-font-family:Font;
	--quote-font-family:Font;
}

@theme{
    --font-sans: Font;
    --primary-50: #ffffff;
    --primary-150: #ffffff;
    --primary-250: #ffffff;
    --primary-350: #dcedff;
    --primary-450: #b8c9ff;
    --primary-550: #94a5df;
    --primary-650: #7081bb;
    --primary-750: #4c5d97;
    --primary-850: #283973;
    --primary-950: #04154f;
    --primary-1050: #00002b;
    --primary-1150: #000007;
    --primary-1250: #000000;
}

@font-face {
    font-family: Font;
    src: url("../assets/fonts/commit.ttf");
}

body{
    font-family: Font;
}

#drag-region {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: grab;
}

::-webkit-scrollbar {
    width: 0;
    background: none;
}

button{
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabTrigger{
    @apply text-[11px] font-medium text-neutral-400 px-4 py-1 flex items-center justify-center space-x-1 rounded-md
}

.tabTrigger[data-active]{
    @apply text-neutral-900 bg-white/80
}
